<div class="container">
  <section id="inicio">
    <br />
    <p>
      Se estamos na era das redes sociais, nada mais natural do que promover a
      sua marca nelas.
    </p>

    <p>
      Sim, porque seu público está constantemente consumindo informação através
      das redes sociais e certamente procurará por sua marca nestes mesmos
      canais.
    </p>

    <p>
      Sua marca precisa estar presente de forma profissional, fortalecendo a
      imagem do seu negócio perante sua audiência.
    </p>

    <p>
      Seja no Facebook, Twitter, Google Plus ou YouTube, contrate nossa equipe
      para desenvolver as artes que personalizarão as suas contas nas redes
      sociais.
    </p>
  </section>
</div>
