<header style="height: 140px;"> 
</header>

<div class="container">
  <section class="section-title">
    <h2>Registro de Domínio</h2>

    <p>
      Quem ainda não tem presença online está perdendo espaço no mercado e, definitivamente, está deixando dinheiro na mesa. O problema é que, mesmo percebendo a importância de ter um site próprio, muitas empresas e profissionais esbarram na parte técnica. O primeiro obstáculo, antes mesmo da compra de um servidor, é o registro do domínio.
    </p>
    <p>
      Sem ele, seus clientes ou leitores nunca chegarão até você. Essa tarefa pode até soar difícil para quem nunca teve um website, mas acredite: é bem mais fácil do que parece.
    </p>
    <p class="alert alert-success">
      E oferecemos toda essa comodidade de registro de um domínio, basta entrar em contato com a gente através do nosso chat ou formulário de contato, dizendo como gostaria que fosse o endereço do seu site e faremos todo processo. <a href="./#contact">Clique aqui.</a>
    </p>

    <h2>O que é um domínio</h2>

    <p>O domínio é um endereço que identifica a sua empresa (ou você próprio) na internet. É como se fosse o “nome” do seu site, podendo também ser utilizado nos seus e-mails. Um domínio é composto por um nome e uma extensão, como:
    </p>

    <ul class="list-group">
      <li class="list-group-item">suaempresa.com.br</li>
      <li class="list-group-item">nome: suaempresa</li>
      <li class="list-group-item">extensão: .com.br</li>    

    </ul>

  </section>
</div>
