<header style="height: 140px;"></header>

<div class="container">
  <section class="section-title">
    <h2>Site para Pet Shop</h2>
    <p>
      Centenas de profissionais estão crescendo com os benefícios que a internet pode trazer, sem grandes investimentos. Parece Mágica, mas é apenas a utilização da Internet direcionada de maneira correta para o segmento de cada profissional. Na Dellano Sites você vai encontrar a equipe ideal para apoiar o seu crescimento.
    </p>
    <h2>Site Responsivo</h2>
    <p>
      Novo conceito de design para websites que são projetados para funcionar de maneira diferenciada em dispositivos como smartphones e tablets. 
    </p>
    <h2>Apareça no Google</h2>
    <p>
      Cada página do seu site será otimizada para que seus clientes encontrem sua empresa ao realizar uma pesquisa no Google pelo nome do seu negócio.
    </p>
    <h2>Estatísticas</h2>
    <p>
      Realizamos testes de velocidade para garantir que todos os recursos estejam carregando em um clique, seus clientes ficarão surpresos.
    </p>
    <h2>Design Elegante</h2>
    <p>
      Consideramos cada projeto como um desafio a ser superado em eficiência e design. Nosso objetivo é impressionar nossos clientes e parceiros. 
    </p>  
  </section>
</div>

<div class="container-fluid content">

  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <a class="btn btn-primary btn-block btn-lg" href="./#contact" >QUERO UM SITE AGORA!</a>
      </div>
      <div class="col-md-6">
        Tenha um website poderoso para seu negócio e esteja disponível para clientes que estão procurando pelos seus serviços para ser reconhecido como uma referência na sua área de atuação.
      </div>
    </div>
  </div>

</div>
<div class="container">
  <section class="section-title">
    <h2>Gestão de Redes Sociais</h2>
    <p>
      Elaboração de artes, conteúdo e acompanhamento das estratégias e crescimento por segmento de atuação.
    </p>
    <h2>Marketing de Conteúdo</h2>
    <p>
      Novo conceito de marketing digital que busca atrair clientes através de conteúdos ricos para o segmento de atuação.
    </p>
  </section>
</div>


