
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');


:root {
    --cor-principal: #F9690E;
    --cor-secundaria: #013243;
    --cor-principal-fosca: #F96;
    --bg-principal: #F4F4F4;
    --cor-texto-principal:#333;
    --cor-texto-branco:#F4F4F4;
}

* {
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
}

body {
    background: var(--bg-principal);
    color: var(--cor-texto-principal);
}

.light-bg {
    background-color: #FFF;
}
/*.dark-bg {
    background-color: #CCC;
    }*/


/*--------------------
Card Collapse Rotation
--------------------*/

.card .fas {
  transition: .3s transform ease-in-out;
}
.card .collapsed .fas {
  transform: rotate(-90deg);
}

/*--------------------
Card Collapse
--------------------*/

.card .card-header h5 .btn-link{
 color: var(--cor-principal);
 font-weight: 700;
 text-decoration: none;
 /*font-family: 'Dosis', sans-serif;*/
}
.card .card-header{
    text-align: left;
    border-bottom: none;    
}
.card{
    margin:6px;
}


/*--------------------
Sections
--------------------*/

.section-title {
    padding-bottom: 15px;
}
.section-title h2 {
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 30px;
}

.section-title p {
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    margin: 20px 100px 60px 100px;   

}
.section-title hr {
    border: 2px solid var(--cor-principal);
    width: 150px;
    margin: 0 auto;
}

/*--------------------
Navigation
--------------------*/

.navbar-default {
    background-color: var(--cor-secundaria);
    border-color: transparent;
}

.navbar-default .container .navbar-brand {
    color: var(--cor-texto-branco);
    font-family: 'Dosis', sans-serif;
    padding: 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: var(--cor-principal-fosca);
}

.navbar-default .container .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .container .navbar-toggler {
    background-color: var(--cor-principal);
    border-color: var(--cor-principal);
}

.navbar-default .container .navbar-toggler:hover,
.navbar-default .container .navbar-toggler:focus {
    background-color: var(--cor-principal);
}

.navbar-default .container.container .navbar-nav li a {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--cor-texto-branco);
}

.navbar-default .container .navbar-nav li a:hover,
.navbar-default .container .navbar-nav li a:focus {
    color: var(--cor-principal);
    outline: 0;
}

.navbar-default .container .navbar-nav>.active>a {
    border-radius: 0;
    color: var(--cor-texto-branco);
    background-color: var(--cor-principal);
}

.navbar-default .container .navbar-nav>.active>a:hover,
.navbar-default .container .navbar-nav>.active>a:focus {
    color: var(--cor-texto-branco);
    background-color:var(--cor-principal-fosca);
}

@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: var(--cor-secundaria);
        padding: 10px 0;
        transition: all .3s
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}


/*--------------------
Header
--------------------*/

.page-scroll.btn-primary:hover{
    background: var(--cor-principal-fosca);
    border-color: var(--cor-principal);
}

.page-scroll.btn-primary{
    background: var(--cor-principal);
    border-color: var(--cor-principal);
}

header {
    background-image: url(../img/background.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: var(--cor-texto-branco);
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 146px;
        padding-bottom: 86px;
    }
}

header .intro-text .intro-lead-in {
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text .intro-lead-in {
        font-family: 'Dosis', sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
}

header .intro-text .intro-heading {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    /*font-family: 'Sedgwick Ave Display', cursive;*/
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 56px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}

/*--------------------
Section Contact
--------------------*/

section#contact form {
    max-width: 66%;
    margin: 0 auto;
}

/*--------------------
Footer
--------------------*/

footer{
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-branco);
    /*padding: 15px 0px 15px;*/
    padding-top: 10px;
}
footer .container-fluid.assign{
    background-color: #01212d;
    border-top: 1px solid #045f82;
    margin-top: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    color:#FFF6;
}

footer .footer-list h3{
    font-family: 'Dosis', sans-serif;
    color: #FFF7
}
footer .footer-list ul{
    list-style: none;
    line-height: 1.8em;
}
footer .fab:hover{
    background-color: var(--cor-principal);
    cursor: pointer;
}
footer .fab{
    padding: 8px 10px;
    border-radius: 23px;
    border: 1px solid var(--cor-principal);
    background: none;
    width: 34px;
    padding-left: 0px;
}

.phone{
    font-size: 33px;
    font-family: 'Dosis', sans-serif;
}
.email{
    color: var(--cor-principal);
    font-size: 22px;    
}

.topo {
    background-color: rgba(0, 0, 0, .5);
    background-color: #0137;
    width: 40px;
    height: 40px;
    color:  var(--cor-texto-branco);
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    z-index: 4;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Devices mobile*/

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .section-title p{
        margin: 10px;
    }
    .fixed-top{
        position: inherit;
    }
    
} /* End - devices mobile*/