
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

:root {
    --cor-principal: #F9690E;
    --cor-secundaria: #00b5cc;
    --cor-principal-fosca: #F96;
    --bg-principal: #F4F4F4;
    --cor-texto-principal:#333;
}

* {
    margin:0;
    padding:0;
    outline:0;
    box-sizing:border-box;
}

body {
    background: var(--bg-principal);
    color: var(--cor-texto-principal);
}

.light-bg {
    background-color: #CCC;
}

/*--------------------
4. Sections
--------------------*/
section {
   margin-bottom: 25px;
}
.section-title h2 {
    font-size: 34px;
    text-transform: uppercase;
    margin-top: 30px;
}

.section-title p {
    font-size: 22px;
    font-weight: 300;
    line-height: 35px;
    margin: 20px 100px 60px 100px;   

}
.section-title hr {
    border: 2px solid var(--cor-principal);
    width: 150px;
    margin: 0 auto;
}

/*--------------------
Navigation
--------------------*/

.navbar-default {
    background-color: var(--cor-secundaria);
    border-color: transparent;
}

.navbar-default .container .navbar-brand {
    color: #FFF;
    font-family: 'Dosis', sans-serif;
    padding: 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:active,
.navbar-default .navbar-brand.active {
    color: var(--cor-principal-fosca);
}

.navbar-default .container .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .container .navbar-toggler {
    background-color: var(--cor-principal);
    border-color: var(--cor-principal);
}

.navbar-default .container .navbar-toggler:hover,
.navbar-default .container .navbar-toggler:focus {
    background-color: var(--cor-principal);
}

.navbar-default .container.container .navbar-nav li a {
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #FFF;
}

.navbar-default .container .navbar-nav li a:hover,
.navbar-default .container .navbar-nav li a:focus {
    color: var(--cor-principal);
    outline: 0;
}

.navbar-default .container .navbar-nav>.active>a {
    border-radius: 0;
    color: #FFF;
    background-color: var(--cor-principal);
}

.navbar-default .container .navbar-nav>.active>a:hover,
.navbar-default .container .navbar-nav>.active>a:focus {
    color: #FFF;
    background-color:var(--cor-principal-fosca);
}

@media (min-width:768px) {
    .navbar-default {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
        border: 0
    }
    .navbar-default .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s
    }
    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px
    }
    .navbar-default.navbar-shrink {
        background-color: var(--cor-secundaria);
        padding: 10px 0;
        transition: all .3s
    }
    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em
    }
}


/*--------------------
Header
--------------------*/
.page-scroll{
    background: var(--cor-principal);
    border-color: transparent;
}
.page-scroll:hover{
    background: var(--cor-principal-fosca);
    border-color: var(--cor-principal);
}

header {
    background-image: url(../img/background.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}

header .intro-text {
    padding-top: 100px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    header .intro-text {
        padding-top: 146px;
        padding-bottom: 86px;
    }
}

header .intro-text .intro-lead-in {
    font-family: 'Dosis', sans-serif;
    font-style: italic;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text .intro-lead-in {
        font-family: 'Dosis', sans-serif;
        font-style: italic;
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
}

header .intro-text .intro-heading {
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    header .intro-text .intro-heading {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 56px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}
